{
    "tabWidth": 4,
    "useTabs": false,
    "importOrder": ["^@codebylang/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-organize-attributes",
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "pluginSearchDirs": false
}
